<!DOCTYPE html>
<html>
<head>
<title>Contacts</title>
<style>
    body{
        font-family: arial, sans-serif;
    }
</style>
</head>

<body>

<h1>Contact Us Form</h1>
<p> Enter Your Details </p>

<div>
    <form> 
        <div class="name">
            <p> Enter Name: </p>
            <input type="text" placeholder="Name" name="name">
        </div>
        <div class="email">
            <p> Enter Email: </p>
            <input type="email" placeholder="Email" name="email">
        </div>
        <div class="phone">
            <p> Enter Phone Number: </p>
            <input type="number" placeholder="Number" name="number">
        </div>
        <div class="comment">
            <p> What to contact for?: </p>
            <input type="text" placeholder="description" name="comment">
        </div>
    </form>
</div>

</body>
</html>